.message {
    background-color: #1d1f21;
    color: #c5c8c6;
    padding: 1px;
    font-size: small;
}

.message p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message_content {
    display:block;
    color: rebeccapurple;
}